<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>URL Shortner</title>
</head>

<body>
    <main>
        <div class="container">
            <h1>URL Shortner</h1>
            <form action="/" method="post" id="shorten-form">
                <div class="label-container">
                    <label for="url" class="label-content">Enter url:</label>
                    <input type="url" name="url" id="url" />
                </div>
                <div class="label-container">
                    <label for="short-code" class="label-content">Custom Short URL(Optional):</label>
                    <input type="text" name="shortCode" id="short-code" />
                </div>
                <button type="submit">Short it !</button>
            </form>
            <h2>Shortened URLs</h2>
            <ul id="shortened-urls">{{ shortened_urls }}</ul>
        </div>
    </main>

    <script>
        // const fetchShortenedUrl = async () => {
        //     const response = await fetch('/links');
        //     const links = await response.json();
        //     console.log('links', links);
            
        //     const list = document.getElementById('shortened-urls');
        //     list.innerHTML = '';
        //     for (const [shortCode, url] of Object.entries(links)) {
        //         const li = document.createElement('li');
        //         li.innerHTML = `<a href='/${shortCode}' target='_blank'> ${window.location.origin}/${shortCode}</a> - ${url}`
        //         list.appendChild(li);
        //     }
        // }
        // document.getElementById('shorten-form')
        //     .addEventListener('submit', async (event) => {
        //         event.preventDefault();
        //         const formData = new FormData(event.target);
        //         // .get() returns only the first key
        //         const url = formData.get('url'); // name is the key itself, this url is the name attribute from form 
        //         const shortCode = formData.get('short-code');
        //         console.log(url, shortCode);

        //         try {
        //             // fetch() is used to make http requests
        //             const response = await fetch('/shorten', {
        //                 // Passing data from frontend to backend
        //                 method : "POST", // POST is used when you're sending data to the server, like form input or JSON.
        //                 headers: { 'Content-type': 'application/json' },
        //                 body: JSON.stringify({ url, shortCode }) // by JSON.stringify data is converted in json
        //                 // to send the data in req header it needs to be converted in string format
        //             });

        //             if (response.ok) {
        //                 // This checks if the HTTP response was successful.
        //                 // response.ok is a Boolean property of the Response object from the Fetch API.
        //                 // It is true if the HTTP status code is in the range 200–299 (i.e., success).
        //                 alert('form submitted successfully');
        //                 event.target.reset();
        //             } else {
        //                 const errorMessage = await response.text(); // Reads the body of the error response and converts it to plain text.
        //                 alert(errorMessage)
        //             }

        //         } catch (error) {
        //             console.log(error);
        //         }
        // })

        // fetchShortenedUrl();
    </script>
</body>

</html>